@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
      font-family: "Poppins", sans-serif; 
}
.logo,.font-delius{
    font-family: "Delius Swash Caps", cursive;
}
.banner {
    height: 85vh;
    width: 100%;
    background-image:
        linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 180, 68, 0.3)),
        url("../assets/banner.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
